
body{
	font-family: 'Lato', sans-serif;
	color: #F1F1F1;
	/*font-family: 'Didact Gothic',  sans-serif;*/
}
section{
	min-height: 100vh;
}

h1{
	color: #665B4E;
	font-size: 3em;
}
h2{
	color: #FF2079;
	font-size: 2em;
}
#my-navbar {
	margin-right: 40%;
	color: #005555;

}

#my-navbar a{
	color: black;
	font-size: 1.5em;

}


#social-nav a{
	color: black;
}

#social-nav a:hover{
	color: #ff4c8d;

}

#my-navbar li{
	
}

#my-navbar a:hover {
	color: #ff4c8d;
}

#about{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('about_2_back.svg');
	background-size: cover;

}

#about{
	display: flex;
	justify-content: center;
	align-items: center;
	color:black;

}




#projects{
	background-color: white;
	font-size: .9em;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: stretch;
	padding: 2em;
}

#projects h2 {
	width: 100%;
	text-align: center;
}
#projects h3{
	font-size: 1.2em;
	margin: .2em;
}


#projects div {
	flex-basis: 10em;
	max-width: 20em;
	margin: 1em;
	flex-grow: 1;
	font-size: 1.2em;
	text-align: center;
	color: black;
	background-color: #B2B09B;

}

@media (max-width: 65em) {
	#projects div {
		flex-basis: 100%;
	}
}

#projects div img:first-child {
	display: block;
	object-fit: cover;
	height: 10em;
	width: 100%;
	
}

.icon {
	width: 1em;
}

.initials img {
	width: 3em;

}

#resources h2 {
	width: 100%;
	background-color:green;
	text-align: center;

}

footer {
	text-align: center;
	padding: 1em;
	color: black;
}






