
body{
	font-family: 'Lato', sans-serif;
	/*font-family: 'Didact Gothic',  sans-serif;*/
}
section{
	min-height: 100vh;
}

#my-navbar {
	margin-right: 40%;

}

#my-navbar a{
	color:black;
	font-size: 1.5em;

}

.social {

}

#social-nav a{
	color:black;

}

#my-navbar li{
	
}

#my-navbar a:hover {
	color: purple;
}

#about{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('about_2_back.jpg');
	background-size: cover;

}

#projects{
	background-color:yellow;
	font-size: .9em;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: stretch;
}

#projects h2 {
	width: 100%;
	background-color:orange;
	text-align: center;
}
#projects h3{
	font-size: 1.3em;
}


#projects div {
	flex-basis: 10em;
	max-width: 30em;
	background-color: blue;
	margin: 1em;
	flex-grow: 1;
	font-size: 2em;
	text-align: center;
}

@media (max-width: 65em) {
	#projects div {
		flex-basis: 100%;
	}
}

#projects div img {
	display: block;
	object-fit: cover;
	height: 15em;
	width: 100%;
	
}

.initials {
	display:inline-block;
	font-size:3em;
	margin-right: .25em;
}

#resources h2 {
	width: 100%;
	background-color:green;
	text-align: center;

}

footer {
	text-align: center;
	padding: 1em;
}






