a:hover,
a:focus {
  color: #23527c;
  text-decoration: none;
	}

body{
	font-family: 'Lato', sans-serif;
	color: #F1F1F1;
	/*font-family: 'Didact Gothic',  sans-serif;*/
}

section{
	min-height: 100vh;
}

h1{
	color: white;
	font-size: 3em;
}
h2{
	color: lightpink;
	font-size: 2em;
}

.navbar {
	background-color: white;
}

#my-navbar {
	margin-right: 40%;
	color: #005555;
}

#my-navbar a{
	color: black;
	font-size: 1.5em;
}


#social-nav a{
	color: black;
}

#social-nav a:hover{
	color: darkturquoise;
}


#my-navbar a:hover {
	color: darkturquoise;
}

#about{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('about_2_back3.jpg');
	background-size: cover;
}

#about{
	display: flex;
	justify-content: center;
	align-items: center;
	color:black;
}

#projects{
	background-color: white;
	font-size: .9em;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: stretch;
	padding: 2em;
	
}

#projects h2 {
	width: 100%;
	text-align: center;
	color: yellowgreen;
}

#projects h3{
	font-size: 1.2em;
	margin: .2em;
	color: black;
}

#projects div {
	flex-basis: 10em;
	max-width: 20em;
	margin: 1em;
	flex-grow: 1;
	font-size: 1.2em;
	text-align: center;
	color: black;
	background-color: white;
    transition: transform .5s ease;
}


#projects div:hover {
      transform: scale(1.05); 

        
}

@media (max-width: 65em) {
	#projects div {
		flex-basis: 100%;
	}
}

#projects div img:first-child {
	display: block;
	object-fit: cover;
	height: 10em;
	width: 100%;
	
}

.icon {
	width: 1em;
}

.initials img {
	width: 3em;

}

.modalNav{
	background-color: white;
	text-align: center;
	margin-top: 1em;
}

.modalContent {
	background-color: gainsboro;
	margin: 4em;
	margin-top: 1em;
	color:black;
	padding: 2em;
}


footer {
	text-align: center;
	padding: 1em;
	color: black;
}
